@charset "utf-8";
/* CSS Document */

#conter,#top,.left .center,.right,.bottom{
	margin:0 auto;
	padding:0;}

#content{
	margin:0 auto;
	padding:0;
	width:1300px;
	text-align:left;
	color:#000;
	font-family:"微软雅黑";
	font-size:18px;
	text-indent:2em;
	letter-spacing: 1px;
	line-height:35px;}
.left{
	width:433px;
	float:left;
	border-right:1px #999 solid;
	font-size:12px;
	line-height:18px;}
.center{
	width:433px;
	float:left;
	border-right:1px #999 solid;
	font-size:12px;
	line-height:18px;
	}
.right{
	width:400px;
	float:left;
	font-size:12px;
	line-height:18px;}
#top{
	height:433px;
	border-bottom:1px #999 solid;}
.box{
	margin:0 auto;
	padding:0;
	float:left;
	width:200px;
	height:180px;

	}
.bottom{
	clear:both;}