@charset "utf-8";
/* CSS Document */
.div,p{ margin:0px; padding:0px;}
.neirong{ width:1100px; margin:0 auto; line-height:40px; text-indent:2em;font-family:"微软雅黑";}
.lili{ font-weight:600; font-size:19px; float:left;}
.hyzp{ width:1200px; margin:0px auto; height:700px;}
.hyzpxx{ margin:20px; float:left;}
.hyzps{ height:300px; width:700px; margin:0 auto;}
.hyzpss{width:955px; margin:0px auto; }
.flex-container{ display:-webkit-flex; display:flex; width:1100px; height:300px; justify-content:space-around;}
.xiaozi{ font-weight:300; font-size:14px; color:#999; line-height:30px; }
.xiaozii{ font-size:12px; text-align:center;}
.wordcen{ text-align:center; height:10px;}
.cenn{ text-align:center;}