<div class="container">
<div class="row">
	<div class="col-md-12">
		<div class="widget">
			<div class="widget-head">
			  <div class="pull-left" height="80">
			  管理page			  </div>
			  <div class="widget-icons pull-right">
				<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
				<a href="#" class="wclose"><i class="icon-remove"></i></a>
			  </div>  
			  <div class="clearfix"></div>
			</div>  
			<div class="widget-content" >
			<div class="padd">
				<div class="form quick-post">
							  <div class="form-horizontal">                        
								  <div class="form-group">
									<table class="table table-striped table-bordered table-hover">
<thead>
<tr>	
<th><center>id</center></th><th><center>title</center></th><th><center>lpic</center></th><th><center>add_titme</center></th><th><center>description</center></th><th><center>node_id</center></th><th><center>node_type</center></th><td>操作</td>
</tr>
</thead>
<volist name="pageList" id="vo">
<tr>
<td>{$vo.id}</td><td>{$vo.title}</td><td>{$vo.lpic}</td><td>{$vo.add_titme}</td><td>{$vo.description}</td><td>{$vo.node_id}</td><td>{$vo.node_type}</td><td><a href="{:U(MODULE_NAME.'/Page/edit/id/'.$vo[id])}">编辑</a> |
<a href="{:U(MODULE_NAME.'/Page/delete/id/'.$vo[id])}" onclick='return confirm("确定删除吗？")'>删除</a>
</td>
<tr>
</volist>
</table>
{$page}								  </div>              
							  </div>
				</div><!--end  paddad-->
			</div>
		</div>	
		</div>	
	</div>
</div>
</div>