<div class="lianjie_a">
    <div id="width">
    	<div class="lianjie_b">相关链接：</div>
        <div class="lianjie_c"><a target="_blank" href="http://www.meeting.edu.cn/meeting/subject/MeetingNews!detail.action?id=8193">湖师新闻</a></div>
        <div class="lianjie_c"><a target="_blank" href="http://news.cnhubei.com/hbrb/hbrbsglk/hbrb04/200811/t503032.shtml">湖北日报</a></div>
        <div class="lianjie_c"><a target="_blank" href="http://www.gmw.cn/01gmrb/2008-11/28/content_863398.htm">光明日报</a></div>
        <div class="lianjie_c"><a target="_blank" href="http://www.kaoyan001.com/yizhanshi/2012/1225/2638383.html">湖师新闻</a></div>
        <div class="lianjie_c"><a target="_blank" href="http://www.gmw.cn/01gmrb/2009-01/09/content_876985.htm">光明日报</a></div>
        <div class="lianjie_c"><a target="_blank" href="http://www.hsdcw.com/html/2015-4-3/701592.htm">东楚网</a></div>
    </div>
    </div>