<div class="banner">
<table  height="30px" id="width" rules=cols frame="vsides" bordercolor="#666666">
  <tr>
    <td width="80px"><a href="/">首页</a></td>
    <td width="130px"><a href="{:U('Home/Page/show/title/zuzhi')}">组织机构</a></td>
    <td width="225px"><a href="{:U('Home/Article/listByCid/cid/2')}">研究会动态·资讯</a></td>
    <td width="130px"><a href="{:U('Home/Page/show/title/zhinan')}">入会指南</a></td>
    <td width="130px"><a href="{:U('Home/Article/listByCid/cid/4')}">会员风采</a></td>
    <td width="150px"><a href="{:U('Home/Article/listByCid/cid/5')}">研究会会议</a></td>
    <td width="170px"><a href="{:U('Home/Article/listByCid/cid/6')}">模糊语言著作</a></td>
    <td><a href="{:U('Home/Article/listByCid/cid/7')}">模糊语言论文</a></td>
  </tr>
</table>
</div>