<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link href="__PUBLIC__/css/all.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/index.css" rel="stylesheet" type="text/css"/>

<!--轮播图链接以及样式-->
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/sl.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
	  	$.focus("#focus001");
		$.focus("#focus002");
	});
</script>
<!--轮播图结束-->


</head>

<body>

<div class="bigBox">
  <div id="width">
  <div class="shoub">中国语文现代化学会</div>
  <div class="shouc">模糊语言研究会</div>
	</div>
    
    <!--导航栏-->
<include file="Public/menu" />
    <!--导航栏结束-->
    
    <!--轮播图js开始-->
     	 <div style="width:100%; background-color:#BCBCBC; height:350px;">
         	<div id="width">
    <div class="focus" id="focus001">
		<ul>
			<li><img src="__PUBLIC__/img/tu11.png" style="width:100%" /></li>
			<li><img src="__PUBLIC__/img/tu22.png" style="width:100%" /></li>
			<li><img src="__PUBLIC__/img/tu33.png" style="width:100%" /></li>
		</ul>
	</div>
    		</div>
    	</div>
    	
    <!--轮播图js结束-->
    
     <!--内容-->
     <div class="mid">
     <div class="middle">
       <div class="middmidd">
            <div class="daotwo">
            <div id="width">
            <ul>
              <li class="boxx"><div class="i"><span style="color:#FB037E; margin-left:250px;"><a href="huiyi1.html">更多》</a></span></div></li>   
              <li class="boxxx" style="margin-left:100px;"></li>     
              <li class="boxxxx" style="margin-left:100px;"></li>
              </ul>  
            </div>
      </div>
   </div>
   <div class="fune">
     <div class="funna">
           <div class="nav">
                <ul>
                <volist name="articleList" id="vo">
                	<li><a href="{:U('/Home/Article/show', array('id'=>$vo[id]))}"><pre>{$vo.title}</pre></a></li>
				</volist>
                </ul>
             </div>
           <div class="navv">
                   <div class="ima">
                   <img src="__PUBLIC__/img/11.png" />
                   </div>
                 <p style="width:345px;">  一、本研究会的性质:<br />
                       &nbsp;&nbsp;&nbsp;&nbsp;模糊语言研究会专业委员会（简称"模糊语言研究会"）是隶属于"中国语文现代文学会"的分支机构。<br />
                       二、本研究会成立背景：<br />
                       &nbsp;&nbsp;&nbsp;&nbsp;1979年，北京师范大学伍铁平教授发表了《模糊语言初探》的论文。
                       <a href="zuzhi.html"> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;了解详情</a>              
                 </p>
          </div>
          <div class="right">
              <div class="imaa"> <img src="__PUBLIC__/img/sy.jpg"/>  </div>
           <div class="lin">
               <table width="350px">
                  <tr><td><a href="zhinan.html">申请入会指南</a></td></tr>
                  <tr><td><a href="#">》点我下载入会申请表</a></td></tr>
               </table>
              </div>
          </div>
        </div>
  </div>
  </div>
  		</div>
    <!--内容结束-->   
    
    <!--链接-->
    <include file="Public/friendLink" />
    <!--链接结束-->
    
   
    <!--版权-->
    <include file="Public/footer" />
    <!--版权结束-->
</div>

</body>
</html>
